# FPL Team Optimization using Linear Programming

Optimzation uses PuLP to select the optimal 15-player FPL squad based on predicted points.

**Constraints:**
- Budget: Â£100 million
- Formation: 2 GK, 5 DEF, 5 MID, 3 FWD
- Maximum 3 players per team

**Objective:**
- Maximize total predicted points

In [36]:
# Import libraries
import pandas as pd
import numpy as np
from pulp import LpProblem, LpMaximize, LpVariable, lpSum, LpStatus, value
import sqlite3
import pickle
import os

# setting explicit database path
DB_PATH = '../fpl_data.db'

In [ ]:
# connecting to the database using db+path
conn = sqlite3.connect(DB_PATH)

# checking that the tables exist
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables_df = pd.read_sql_query(tables_query, conn)
print("\nTables in database:")
print(tables_df['name'].tolist())
print()

Tables in database:
['players', 'gameweek_data', 'sqlite_sequence', 'features']

In [35]:
# loading player data from players table
players_df = pd.read_sql_query("SELECT * FROM players", conn)
print(f"Total players in database {len(players_df)}")
print(f"\nColumns {players_df.columns.tolist()}")
print(f"\nSample data")
players_df.head()

Total players in database 817

Columns ['player_id', 'name', 'team', 'position', 'price']

Sample data

   player_id          name     team position  price
0          1          Raya  Arsenal       GK    5.9
1          2  Arrizabalaga  Arsenal       GK    4.1
2          3          Hein  Arsenal       GK    4.0
3          4       Setford  Arsenal       GK    3.9
4          5       Gabriel  Arsenal      DEF    7.0